<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-contain">
    {{>header}}
    <p>Use this site to get your wether!</p>
    <form action="" id="weather-form">
        <input type="text" placeholder="Location">
        <button type="submit">Search</button>
    </form>
    <strong id="weather-location"></strong>
    <p id="weather-result"></p>
    <p id="weather-error"></p>
</div>
{{>footer}}
<script src="/js/main.js"></script>
</body>
</html>
